<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="RegressionTrello">
        <classes>
            <class name="com.trello.qa.tests.TeamCreationTests"/>
            <class name="com.trello.qa.tests.TeamModificationTests"/>
            <class name="com.trello.qa.tests.TeamDeletionTest"/>
            <class name="com.trello.qa.tests.BoardCreationTest"/>
            <class name="com.trello.qa.tests.BoardModificationTasts"/>
            <class name="com.trello.qa.tests.BoardDeletionTest"/>
        </classes>
    </test>
</suite>
